body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #e5ddd5;
}

/* 1 экран входа */
.login-container {
    max-width: 400px;
    margin: 80px auto;
    padding: 30px;
    background-color: #f8f9fa;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.logo {
    width: 80px;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #2aabee;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}